body {
    background-color: black;
    color: white;
  }
  
  button {
    background-color: red;
    color: white; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .bottom-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #060606;
    padding: 20px;
  }

  .input-field {
    background-color: gray;
    color: white;
    width: 100%; /* Définir la largeur */
    height: 40px; /* Définir la hauteur */
    margin-bottom: 20px; /* Ajouter une marge en bas */
  
  }

  textarea.input-field {
    height: 150px; /* Définir la hauteur pour la zone de texte */
  }
  
  .input-field::placeholder {
    color: white;
  }

  .App {
    display: flex;
    height: 100vh;
  }
  
  .note-list {
    width: 25%;
    border-right: 1px solid white;
    padding: 10px;
    overflow: auto;
    list-style-type: none;
    padding: 0;
  }

  .note-item {
    margin-bottom: 20px; 
    transition: background-color 0.5s ease; /* Ajoute une transition douce lors du changement de couleur de fond */
  }
  
  .note-item:hover {
    background-color: #444; /* Change la couleur de fond lors du survol */
  }
  
  .note-title {
    color: red;
    font-weight: bold;
  }
  
  .note-text {
    margin-top: 10px; /* Pour revenir à la ligne pour le contenu */
  }
  
  .note-display {
    width: 75%;
    padding: 10px;
    background-color: #060606;
    color: #fff;
  }
  
  .note-display h2 {
    font-size: 24px;
    color: #f00;
  }
  
  .note-display p {
    font-size: 16px;
    line-height: 1.5;
  }